<div class="wrapper">
	<div class="menu">
		<shape-selector></shape-selector>
	</div>

	<div class="board">
		<div class="canvas">
			<svg #board_element width="500" height="500" class="svg-canvas" viewBox="0 0 500 500" >
				
				<g class='shape' *ngFor="let item of shapes" 
					(click)="selectShape(item)" (mousedown)="startDrag($event,item)" (mouseenter)="selectShape(item)">
					<!-- Shapes -->
					<rect *ngIf="item.type ==='rect'" 
								[attr.x]="item.x" [attr.y]="item.y"
								[attr.width]="item.width"
								[attr.height]="item.height"
								[attr.fill]="item.fill"
								[attr.fill-opacity]="item.fill_opacity"
								[attr.stroke]="item.stroke"
								[attr.stroke-width]=item.stroke_width />
					
					<path *ngIf="item.type ==='diamond'"
								[attr.d]="item.coordinates"
								fill="white"
								stroke="black"
								[attr.fill-opacity]="item.fill_opacity"
								stroke-width="2"/>
					
					<circle *ngIf="item.type ==='circle'"
									[attr.cx]="item.x"
									[attr.cy]="item.y"
									[attr.r]="item.r"
									[attr.fill]="item.fill"
									[attr.stroke]="item.stroke"
									[attr.fill-opacity]="item.fill_opacity"
									[attr.stroke-width]=item.stroke_width />

					<!-- Selection Tools -->
					<g class="border" [ngClass]="{selected: item.id === boardSelection.id}" >
						<rect  class="rect" 
									[attr.x]="item.selection.x"
									[attr.y]="item.selection.y"
									[attr.width]="item.selection.width"
									[attr.height]="item.selection.height"
									[attr.fill]="item.selection.fill"
									[attr.fill-opacity]="item.selection.fill_opacity"
									[attr.stroke]="item.selection.stroke"
									[attr.stroke-opacity]="item.selection.stroke_opacity"
									[attr.stroke-width]="item.selection.stroke_width"
									stroke-dasharray="5,5"/>
						
							<!-- Selection border circles -->
							<circle #border_expander
											class="border-nw-expander"
											[attr.cx]="item.selection.x"
											[attr.cy]="item.selection.y"
											[attr.r]=3
											[attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]=item.stroke_width />

							<circle #border_expander 
											class="border-n-expander"
											[attr.cx]="item.selection.x + item.selection.width/2"
											[attr.cy]="item.selection.y"
											[attr.r]=3
											[attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]=item.stroke_width />
							
							<circle #border_expander
											class="border-ne-expander"
											[attr.cx]="item.selection.x + item.selection.width"
											[attr.cy]="item.selection.y"
											[attr.r]=3
											[attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]=item.stroke_width />

							<circle #border_expander class="border-w-expander"
											[attr.cx]="item.selection.x"
											[attr.cy]="item.selection.y + item.selection.height/2"
											[attr.r]=3 [attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]=item.stroke_width
											[attr.fill]=item.selection.fill	/>

							<circle #border_expander class="border-e-expander"
											[attr.cx]="item.selection.x + item.selection.width"
											[attr.cy]="item.selection.y + item.selection.height/2"
											[attr.r]=3
											[attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]="item.stroke_width"	/>
							

							<circle #border_expander
											class="border-sw-expander"
											[attr.cx]="item.selection.x"
											[attr.cy]="item.selection.y + item.selection.height"
											[attr.r]=3 [attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]="item.stroke_width" />

							<circle #border_expander
											class="border-s-expander" 
											[attr.cx]="item.selection.x + item.selection.width/2"
											[attr.cy]="item.selection.y + item.selection.height"
											[attr.r]=3
											[attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]="item.stroke_width" />

							<circle #border_expander
											class="border-se-expander"
											[attr.cx]="item.selection.x + item.selection.width"
											[attr.cy]="item.selection.y + item.selection.height"
											[attr.r]=3
											[attr.fill]="item.selection.fill"
											[attr.stroke]="item.selection.stroke"
											[attr.stroke-width]="item.stroke_width" />
					</g>
				</g>
			</svg>
		</div>
	</div>
</div>