.wrapper{
	display: flex;
	flex-direction: row;
	height: 100%;

	.menu{
		width: 20%;
		max-width: 20%;
		padding: 10px;
	}
		
	.board{
		margin: 5px;
		display: flex;
		flex-direction: row;
		width: 100%;
		
		.canvas{
			// display: flex;
			// justify-content: center;
			// align-items: center;
			border: 1px	solid	black;
			border-radius: 5px;
			background: #FCFCFC;
		
			.svg-canvas{
				.shape{
					&:hover{
						cursor:move;
					}
		
					.border-nw-expander:hover{
						cursor: nw-resize;
					}
					.border-n-expander:hover{
						cursor: n-resize;
					}
					.border-ne-expander:hover{
						cursor: ne-resize;
					}
					.border-w-expander:hover{
						cursor: w-resize;
					}
					.border-e-expander:hover{
						cursor: e-resize;
					}
					.border-sw-expander:hover{
						cursor: sw-resize;
					}
					.border-s-expander:hover{
						cursor: s-resize;
					}
					.border-se-expander:hover{
						cursor: se-resize;
					}
		
					.border{
						opacity: 0;
						&.selected{
							opacity: 1;
						}
					}

					.connector{
						opacity: 0;
						&:hover{
							cursor: pointer;
						}
						&.selected{
							opacity: 1;
						}
					}
		
				}
			}
		}
	}

}



