/* Coolors Exported Palette - https://coolors.co/042a2b-5eb1bf-54f2f2-fcfcfc-f4e04d */

/* CSS HEX */
--dark-green: #042a2bff;
--moonstone: #5eb1bfff;
--fluorescent-cyan: #54f2f2ff;
--white: #fcfcfcff;
--maize: #f4e04dff;

/* CSS HSL */
--dark-green: hsla(182, 83%, 9%, 1);
--moonstone: hsla(189, 43%, 56%, 1);
--fluorescent-cyan: hsla(180, 86%, 64%, 1);
--white: hsla(0, 0%, 99%, 1);
--maize: hsla(53, 88%, 63%, 1);

/* SCSS HEX */
$dark-green: #042a2bff;
$moonstone: #5eb1bfff;
$fluorescent-cyan: #54f2f2ff;
$white: #fcfcfcff;
$maize: #f4e04dff;

/* SCSS HSL */
$dark-green: hsla(182, 83%, 9%, 1);
$moonstone: hsla(189, 43%, 56%, 1);
$fluorescent-cyan: hsla(180, 86%, 64%, 1);
$white: hsla(0, 0%, 99%, 1);
$maize: hsla(53, 88%, 63%, 1);

/* SCSS RGB */
$dark-green: rgba(4, 42, 43, 1);
$moonstone: rgba(94, 177, 191, 1);
$fluorescent-cyan: rgba(84, 242, 242, 1);
$white: rgba(252, 252, 252, 1);
$maize: rgba(244, 224, 77, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-right: linear-gradient(90deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-bottom: linear-gradient(180deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-left: linear-gradient(270deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-top-right: linear-gradient(45deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-bottom-right: linear-gradient(135deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-top-left: linear-gradient(225deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-bottom-left: linear-gradient(315deg, #042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);
$gradient-radial: radial-gradient(#042a2bff, #5eb1bfff, #54f2f2ff, #fcfcfcff, #f4e04dff);