/* Coolors Exported Palette - https://coolors.co/94e8b4-72bda3-5e8c61-4e6151-3b322c */

/* CSS HEX */
--celadon: #94e8b4ff;
--cambridge-blue: #72bda3ff;
--sea-green: #5e8c61ff;
--feldgrau: #4e6151ff;
--van-dyke: #3b322cff;

/* CSS HSL */
--celadon: hsla(143, 65%, 75%, 1);
--cambridge-blue: hsla(159, 36%, 59%, 1);
--sea-green: hsla(124, 20%, 46%, 1);
--feldgrau: hsla(129, 11%, 34%, 1);
--van-dyke: hsla(24, 15%, 20%, 1);

/* SCSS HEX */
$celadon: #94e8b4ff;
$cambridge-blue: #72bda3ff;
$sea-green: #5e8c61ff;
$feldgrau: #4e6151ff;
$van-dyke: #3b322cff;

/* SCSS HSL */
$celadon: hsla(143, 65%, 75%, 1);
$cambridge-blue: hsla(159, 36%, 59%, 1);
$sea-green: hsla(124, 20%, 46%, 1);
$feldgrau: hsla(129, 11%, 34%, 1);
$van-dyke: hsla(24, 15%, 20%, 1);

/* SCSS RGB */
$celadon: rgba(148, 232, 180, 1);
$cambridge-blue: rgba(114, 189, 163, 1);
$sea-green: rgba(94, 140, 97, 1);
$feldgrau: rgba(78, 97, 81, 1);
$van-dyke: rgba(59, 50, 44, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-right: linear-gradient(90deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-bottom: linear-gradient(180deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-left: linear-gradient(270deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-top-right: linear-gradient(45deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-bottom-right: linear-gradient(135deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-top-left: linear-gradient(225deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-bottom-left: linear-gradient(315deg, #94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);
$gradient-radial: radial-gradient(#94e8b4ff, #72bda3ff, #5e8c61ff, #4e6151ff, #3b322cff);