.wrapper {
	font-family: Roboto-Regular;
	font-size: small;
	padding: 5px;
	height: 100%;


	.header {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding: 7px 0px;
		background-color: var(--secondary-background);
		border: 1px solid var(--secondary-background);
		border-top-right-radius: 7px;
		border-top-left-radius: 7px;

		.icon {
			margin: 0px 5px;
			padding: 5px;
			color: var(--secondary-background);
			background-color: var(--primary);
			width: min-content;
			border-radius: 5px;
			box-shadow:var(--menu_bs)
		}
	}

	.footer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 7px 0px;
		background-color: var(--secondary-background);

		border-bottom-right-radius: 7px;
		border-bottom-left-radius: 7px;

	}

	.selection-area {
		
		border: 1px solid var(--secondary-background);
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		flex-wrap: wrap;
		padding: 5px;


		.shape {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin: 5px;
		}
	}

}