<div class="wrapper">

	<div class="header">
		<div class="icon">
			<i class="fa-solid fa-vector-square"></i>
		</div>
		<div class="title">Fluxograma</div>
	</div>

	<div class="selection-area">
		<div #shapes *ngFor="let shape of flowchart_shapes" class="shape" draggable="true" (mousedown)="selectShape(shape)">

			<ng-container *ngIf="shape.type === 'rect'">
				<svg version="1.1" width="57" height="42" xmlns="http://www.w3.org/2000/svg">
					<rect [attr.x]="shape.menuX" [attr.y]="shape.menuY" [attr.width]="shape.width" [attr.height]="shape.height"
						[attr.fill]="shape.fill" [attr.fill-opacity]="shape.fill_opacity" [attr.stroke]="shape.stroke"
						[attr.stroke-width]="shape.stroke_width" />
				</svg>
			</ng-container>

			<ng-container *ngIf="shape.type === 'round_rect'">
				<svg version="1.1" width="57" height="42" xmlns="http://www.w3.org/2000/svg">
					<rect [attr.x]="shape.menuX" [attr.rx]="shape.rx" [attr.y]="shape.menuY" [attr.ry]="shape.ry"
						[attr.width]="shape.width" [attr.height]="shape.height" [attr.fill]="shape.fill"
						[attr.fill-opacity]="shape.fill_opacity" [attr.stroke]="shape.stroke"
						[attr.stroke-width]="shape.stroke_width" />
				</svg>
			</ng-container>

			<ng-container *ngIf="shape.type === 'start_point'">
				<svg version="1.1" width="55" height="40" xmlns="http://www.w3.org/2000/svg">
					<ellipse [attr.cx]="shape.cx" [attr.cy]="shape.cy" [attr.x]="shape.menuX" [attr.y]="shape.menuY"
						[attr.rx]="shape.rx" [attr.ry]="shape.ry" [attr.width]="shape.width" [attr.height]="shape.height"
						[attr.fill]="shape.fill" [attr.fill-opacity]="shape.fill_opacity" [attr.stroke]="shape.stroke"
						[attr.stroke-width]="shape.stroke_width">
					</ellipse>
				</svg>
			</ng-container>

			<ng-container *ngIf="shape.type === 'end_point'">
				<svg version="1.1" width="55" height="40" xmlns="http://www.w3.org/2000/svg">
					<ellipse [attr.cx]="shape.cx" [attr.cy]="shape.cy" [attr.x]="shape.menuX" [attr.y]="shape.menuY"
						[attr.rx]="shape.rx" [attr.ry]="shape.ry" [attr.width]="shape.width" [attr.height]="shape.height"
						[attr.fill]="shape.fill" [attr.fill-opacity]="shape.fill_opacity" [attr.stroke]="shape.stroke"
						[attr.stroke-width]="shape.stroke_width">
					</ellipse>
				</svg>
			</ng-container>

			<ng-container *ngIf="shape.type === 'decision_diamond'">
				<svg version="1.1" width="55" height="40" xmlns="http://www.w3.org/2000/svg">
					<path d="M 2 20 L 22.5 2 L 44 20 L 22.5 38 Z" [attr.fill]="shape.fill"
						[attr.fill-opacity]="shape.fill_opacity" [attr.stroke]="shape.stroke"
						[attr.stroke-width]="shape.stroke_width" />
				</svg>
			</ng-container>

		</div>
	</div>



	<div class="footer">
		footer
	</div>
</div>
